.Res-page-footer{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
}

.Res-page-footer p{
    margin: 0;
}

@media (max-width: 391px) {
    .Bottom-logo {
      width: 90%;
    }
  }
  @media (max-width: 376px) {
    .Bottom-logo {
      width: 80%;
    }
  }
