.Page-Top{
    background-color: #79040A;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
    padding: 7px 0;
    position: relative;
    
}

.Back-icon{
    width: max-content;
    position: absolute;
    top: 15px;
    left: 15%;
    
}


@media (max-width: 376px) {
    .Back-icon{
      left: 5%;
    }
  }


  @media (max-width:415px) {
    .Back-icon{
      left: 5%;
    }
}