//lato import
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap");

// josefin sans import

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap");

//color scheme

$dark_red: #79040a;
$black: #111114;
$yellow: #fdce6e;

//fonts

$lato: "Lato", sans-serif;
$josefin_sans: "Josefin Sans", sans-serif;