@use "../variables.scss";
//sass --watch src/react-components/homepage/homepage.scss src/react-components/homepage/homepage.css

//responsive design - phone first
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
}
.homepage {
  font-family: variables.$josefin_sans;
  @include flex-column();
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  p {
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.2rem;
    text-align: justify;
  }

  &--welcome {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;

    display: flex;
    justify-content: center;
    row-gap: 0.4rem;
    color: white;
    text-align: center;
    img {
      width: 100%;
      height: 40rem;
      object-fit: cover;
    }

    &-text {
      position: absolute;
      height: 100%;
      width: 90%;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 1rem;
      p {
        width: 88%;
      }
    }
  }
  &--carousel {
    @include flex-column();
    align-items: center;
    row-gap: 0.6rem;
    h2 {
      text-transform: uppercase;
    }
  }

  &--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.7rem;
    color: white;

    &-caption {
      padding: 2rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
        text-align: justify;
        line-height: 1.7rem;
      }
    }
    &:first-child {
      background: variables.$dark_red;
    }
    &:nth-child(2) {
      background: variables.$black;
    }

    img {
      height: auto;
      width: 10rem;
    }
  }
  &--book {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 40rem;
      object-fit: cover;
    }
    h2 {
      text-transform: uppercase;
      text-align: center;
    }
    &-text {
      row-gap: 1rem;
      flex-direction: column;
      display: flex;
      width: 80%;
      position: absolute;
    }
    &-button {
      margin-top: 0.5rem;
      background: variables.$dark_red;
      border: none;
      border-radius: 2rem;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 1rem 2rem;
      color: white;
      &:hover {
        background: white;
        color: variables.$black;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .homepage {
    row-gap: 2rem;

    h1 {
      font-size: 3.8vw;
    }
    h2 {
      font-size: 2.7vw;
    }
    h3 {
      font-size: 2vw;
    }
    p {
      font-size: 45%;
    }
    &--welcome {
      &-text {
        font-size: 2.7vw;
      }
      h2 {
        line-height: 3rem;
      }
      p {
        width: 50%;
        line-height: 1.5rem;
      }
      img {
        width: 70%;
      }
    }
    &--new {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--card {
      padding: 0;
      width: 70%;
      height: 30rem;
      flex-direction: row;

      &:nth-child(1) {
        flex-direction: row-reverse;
        div h2 {
          width: 100%;
          text-align: left;
        }
      }
      &:nth-child(2) {
        div h2 {
          width: 100%;
          text-align: right;
        }
      }
      &-caption {
        font-size: 2.7vw;
        padding: 10%;
        width: 50%;
      }
      img {
        width: 50%;
        height: inherit;
        object-fit: cover;
      }
    }
    &--book {
      margin-bottom: 2rem;
      &-text {
        align-items: center;
        font-size: 2.7vw;
      }
      h2 {
        width: 60%;
        line-height: 3rem;
      }
      img {
        width: 70%;
      }
      p {
        width: 50%;
        font-size: 50%;
        line-height: 1.5rem;
      }
      button {
        width: 20%;
      }
    }
  }
}
